@model List<GodtSkoddProsjekt.Models.Order>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderDetails</title>
</head>
<body>
    <div>
        <div class="col-sm-9">
            <h2 class="subpage_titles">Ordrehistorikk</h2>
            <hr />

            @for(int i = 0; i < Model.Count; i++)
            {

                <div class="panel panel-default">
                    <div class="panel-heading">Ordre nr. @Model[i].id</div>

                    <dl class="dl-horizontal">
                        <!--<dt>
                        Html.DisplayNameFor(model => model.userID)
                    </dt>

                    <dd>
                        Html.DisplayFor(model => model.userID)
                    </dd>-->

                        <dt>
                            @Html.DisplayNameFor(modelItem => Model[i].date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => Model[i].date)
                        </dd>  
                        
                        @for (int j = 0; j < Model[i].orderlines.Count; j++)
                        {
                        <dd>
                            Produkt nr: 
                            @Model[i].orderlines[j].productId.ToString();
                            . Antall: 
                            @Model[i].orderlines[j].quantity.ToString();
                            .
                        </dd>
                        }
                    </dl>
                </div><!-- /.panel default-->
            }
        </div></div><!--./col-sm-9-->
</body>
</html>
