@model IEnumerable<Model.Order>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Ordre";
}

<div class="col-sm-9">

    <h2 class="header">Ordre</h2>

    <p>
        <div class="Searchbar">
            Id: <input type="text" id="searchId" />
            <input type="button" onclick="showAllOrders()" value="Vis alle" class="btn btn-default" />
            <input type="button" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;" onclick="searchOrder($('#searchId').val())" value="Søk" class="btn btn-default" />
            <div id="userErrorMessage"></div>
        </div>
        <div class="Link_addnew">
            <span class="glyphicon glyphicon-arrow-down"></span><a class="link_toggle">Vis mer informasjon</a> |
            <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Registrer ny ordre", "CreateOrder", "ADMINMain", new { id = "" }, new { @class = "" })
        </div>
    </p>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.id)</th>
            <th>@Html.DisplayNameFor(model => model.userID)</th>
            <th>@Html.DisplayNameFor(model => model.date)</th>
            <th></th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr class="productLine">
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>

                <td>
                    @Html.ActionLink("Endre", "EditOrder", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    @Html.ActionLink("Legg til ordrelinje", "CreateOrderline", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    <a onclick="toggleRow(@item.id)">Se detaljer</a> |
                    @Html.ActionLink("Slett", "DeleteOrder", "ADMINMain", new { id = item.id }, new { @class = "" })
                </td>
            </tr>
            <tr id="@item.id" class="MoreInfo">
                <td colspan="4">
                    <table class="MoreInfoTable">
                        @for (int j = 0; j < item.orderlines.Count; j++)
                        {
                            <tr>
                                <td class="table_header orderline_header">Ordrelinje med id nr. @item.orderlines[j].id:</td>
                            </tr>
                            <tr>
                                <td class="orderline_header">Ordre-Id:</td>
                                <td>@item.orderlines[j].orderID</td>
                            </tr>
                            <tr>
                                <td class="orderline_header">Produkt-Id:</td>
                                <td>@item.orderlines[j].productId</td>
                            </tr>
                            <tr>
                                <td class="orderline_header">Antall:</td>
                                <td>@item.orderlines[j].quantity</td>
                            </tr>
                        }
                    </table>
                </td>

            </tr>
        }
    </table>
</div><!-- /. col-sm-9 -->