@model IEnumerable<Model.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Kunder";
}

<div class="col-sm-9">

<h2 class="header">Kunderegister</h2>
    
    <!-- Se oppsettet til AdminProducts.cshtml (autogenerert når velger template List) -->

    <!-- Vise alle kunder/brukere (får inn fra model): -->

    <!-- Gjøre mye av det samme som på AdminAdminUsers, men også kunne gå inn på en bestemt bruker og se
        ordrene til denne brukeren + kunne endre/slette disse ordrene + lage en ny ordre på brukeren -->

    <!-- Slette-knappen her (se kommentarer i AdminAdminUsers) skal kalle på DeleteUser + sende med id til ADMINMainController f.eks. -->

    <!-- Der man søker etter en kunde på ID: Kall metoden GetUser i ADMINMainController + send med id -->

    <table class="table">
      <tr>
        <th>#</th>
          <th>Navn</th>
          <th>Adresse:</th>
      </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => Model.id)
                </td>
                <td>
                    @Html.DisplayFor(Model => model.FirstName) @Html.DisplayFor(Model => Model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adresse) @Html.DisplayFor(Model => Model.Postnr) @Html.DisplayFor(Model => Model.Poststed)
                </td>
             
</table>    

    
</div><!-- /. col-sm-9  aka wrapper -->
