@model IEnumerable<Model.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Kunder";
}

<div class="col-sm-9">

<h2 class="header">Kunderegister</h2>
    <p>
        <div class="Searchbar">
            Id: <input type="text" id="searchId" />
            <input type="button" onclick="showAllUsers()" value="Vis alle" class="btn btn-default" />
            <input type="button" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px;" onclick="searchUser($('#searchId').val())" value="Søk" class="btn btn-default" />
            <div id="userErrorMessage"></div>
        </div>
<!--    <div class="Searchbar"><input type="text" id="Searchinn" /></div>-->

        <div class="Link_addnew">
            <span class="glyphicon glyphicon-arrow-down"></span><a href="#" class="link_toggle">Vis mer informasjon</a> |
            <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Registrer ny kunde", "CreateUser", "ADMINMain", new { id = "" }, new { @class = "" })
        </div>
    </p>

    <!-- Se oppsettet til AdminProducts.cshtml (autogenerert når velger template List) -->

    <!-- Vise alle kunder/brukere (får inn fra model): -->

    <!-- Gjøre mye av det samme som på AdminAdminUsers, men også kunne gå inn på en bestemt bruker og se
        ordrene til denne brukeren + kunne endre/slette disse ordrene + lage en ny ordre på brukeren -->

    <!-- Slette-knappen her (se kommentarer i AdminAdminUsers) skal kalle på DeleteUser + sende med id til ADMINMainController f.eks. -->

    <!-- Der man søker etter en kunde på ID: Kall metoden GetUser i ADMINMainController + send med id -->

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.id) </th>
            <th>Navn</th>
            <th>@Html.DisplayNameFor(model => model.address)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>@Html.DisplayNameFor(model => model.phoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.userName)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address), @Html.DisplayFor(modelItem => item.postalCode) @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>

                <td>
                    @Html.ActionLink("Endre", "EditUser", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    @Html.ActionLink("Ordrehistorikk", "AdminOrders", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    @Html.ActionLink("Slett", "DeleteUser", "ADMINMain", new { id = item.id }, new { @class = "" })
                </td>
             </tr>
         
        }
    </table>

</div><!-- /. col-sm-9  aka wrapper -->