@model IEnumerable<Model.Product>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{ 
    ViewBag.Title = "Admin Produkt";
}

<!-- MERK!: Tar inn IEnumerable<Model.Product> istedenfor List<Model.Product> -->

<!-- Autogenerert kode (template List og model Product(Model)) -->

<!-- OK Vise alle produkt (får inn fra model): -->

<!-- Gjøre mye av det samme som på AdminAdminUsers og AdminCustomers -->

<!-- OK Slette-knappen her (se kommentarer i AdminAdminUsers) skal kalle på DeleteProduct(id) i ADMINMainController -->

<!-- Der man søker etter et produkt på ID: Kall metoden GetProduct i ADMINMainController + send med id -->

<!-- CSS: Må ha mer padding eller marg på toppen for å se "Registrer nytt produkt" (som får i _Layout.cshtml) -->

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        
        $(".link_toggle").click(function () {
       
            $(".MoreInfo").toggle();
        })});
</script>

<div class="col-sm-9">
    <h2 class="header">Produkter</h2>
    <p>
        <div class="Link_addnew"><span class="glyphicon glyphicon-arrow-down"></span><a href="#" class="link_toggle">Vis mer informasjon</a> | <span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("Registrer nytt produkt", "CreateProduct", "ADMINMain", new { id = "" }, new { @class = "" })
            </div>
    </p>

    <!-- Search for product by id here?:
        Call method GetProduct in ADMINMainController + id to product -->

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="productLine">
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.brand)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
              
                <td>
                    @Html.ActionLink("Endre", "EditProduct", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    @Html.ActionLink("Slett", "DeleteProduct", "ADMINMain", new { id = item.id }, new { @class = "" }) 
                   
                </td>
            </tr>
            <tr class="MoreInfo">
       
                <td colspan="7">
                    <table class="MoreInfoTable">
                        <tr>
                            <td class="table_header">Id:</td><td>@Html.DisplayFor(modelItem => item.id)</td>
                        </tr>
                        <tr>
                            <td class="table_header">Navn: </td><td>@Html.DisplayFor(modelItem => item.name)</td>
                        </tr>
                        <tr><td class="table_header">Pris: </td><td>@Html.DisplayFor(modelItem => item.price)</td></tr>
                        <tr><td class="table_header">Størrelse:</td><td>@Html.DisplayFor(modelItem => item.size)</td></tr>
                        <tr><td class="table_header">Farge:</td><td>@Html.DisplayFor(modelItem => item.color)</td></tr>
                        <tr><td class="table_header">Materiale:</td><td>@Html.DisplayFor(modelItem => item.material)</td></tr>
                        <tr><td class="table_header">Merke:</td><td>@Html.DisplayFor(modelItem => item.brand)</td></tr>
                        <tr><td class="table_header">Bilde-url:</td><td>@Html.DisplayFor(modelItem => item.url)</td></tr>
                        <tr><td class="table_header">For hvem:</td><td>@Html.DisplayFor(modelItem => item.gender)</td></tr>
                        <tr><td class="table_header">Type sko:</td><td>@Html.DisplayFor(modelItem => item.type)</td></tr>
                    </table>
                </td>
               
            </tr>
        }
    </table>
        </div> <!-- /. col-sm-9 aka wrapper -->
    
   